top/other/SCORM3/themes/ciscotheme2/theme.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XML Spy v3.0.7 NT (http://www.xmlspy.com)-->
<!ELEMENT theme (parm)+>
<!ELEMENT value (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT label (#PCDATA)>
<!ELEMENT parm (label, description, value)>
<!ATTLIST theme
	name CDATA #REQUIRED
>
<!ATTLIST parm
	id CDATA #REQUIRED
	type CDATA #REQUIRED
>
